table {
  width: 100%;
}

.content:hover {
  background-color:burlywood;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

tr {
  cursor: pointer;
}

th {
  background-color: burlywood;
}



::ng-deep {
  background-color: burlywood;
}
